<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimum-scale=1,maximum-scale=1">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/static/visit/manifest.json">
    <link rel="shortcut icon" href="/static/visit/favicon.ico">
    <title>参观预约</title>
    <script>
    window._config = { prefix: "{:config('website.prefix')}/visit", path: "/visit" }
    </script>
    <link href="/static/css/visit.css" rel="stylesheet">
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script type="text/javascript" src="/static/js/visit.js"></script>
</body>

</html>