<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,viewport-fit=cover">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/static/volunteer/manifest.json">
    <link rel="shortcut icon" href="/static/volunteer/favicon.ico">
    <title>常州博物馆</title>
    <script type="text/javascript">
    window._config = { _prefix: { api: "{:config('website.prefix')}/volunteer", link: "/volunteer", upload: "{:config('website.prefix')}}" }, names: { apply: "apply", teamIntro: "team", news: "dongtai", rules: "zyzzc", details: "zyzglxz" } }
    </script>
    <link href="/static/css/volunteer.css" rel="stylesheet">
</head>

<body>
    <div id="root"></div>
    <script type="text/javascript" src="/static/js/volunteer.js"></script>
</body>

</html>