{extend name="public/base" /}
{block name="title"}藏品欣赏{/block}
{block name="content"}
    <div class="collection-box">
        <div id="banner"></div>
        <div id="list"></div>
    </div>
{/block}
{block name="babel"}
<script type="text/babel">
    ReactDOM.render(
        <Banner banners={{$sliders}} />,
        document.getElementById('banner')
    );
    ReactDOM.render(
        <CollectionList />,
        document.getElementById('list')
    );
    ReactDOM.render(
        <Nav />,
        document.getElementById('nav')
    );
</script>
{/block}