{extend name="public/base" /}
{block name="title"}公共教育{/block}
{block name="content"}
    <div class="collection-box">
        <div id="calendar"></div>
        <div id="list"></div>
    </div>
{/block}
{block name="babel"}
<script type="text/babel">
    ReactDOM.render(
        <Calendar />,
        document.getElementById('calendar')
    );
    ReactDOM.render(
        <EducationList />,
        document.getElementById('list')
    );
    ReactDOM.render(
        <Nav />,
        document.getElementById('nav')
    );
</script>
{/block}