{extend name="public/base" /}
{block name="title"}展览资讯{/block}
{block name="content"}
    <div class="collection-box" style="background: url('/static/media/zl/bg1.jpg') no-repeat center top / 100% auto;;">
        <div id="banner"></div>
        <div id="list"></div>
    </div>
{/block}
{block name="babel"}
<script type="text/babel">
    ReactDOM.render(
        <Banner banners={{$sliders}} />,
        document.getElementById('banner')
    );
    ReactDOM.render(
        <ExhibitionList />,
        document.getElementById('list')
    );
    ReactDOM.render(
        <Nav />,
        document.getElementById('nav')
    );
</script>
{/block}