{extend name="public/base" /}
{block name="title"}常见问题解答{/block}
{block name="content"}
    <div class="collection-box" style="background-image: url('/static/media/2/2.jpg');padding-top: 18.74%;">
        <div id="detail" class="book-style-1">
            <div class="book-style-2">
                <div id="list" style="width:100%;padding:1vw 3vw;">
                    {volist name="question.questions" id="vo"}
                    <a id="{$vo.target}"></a>
                    <div style="margin-top:0.65vw">
                        <div style="background:rgb(177,141,100);height:3vw"></div>
                        <div style="background: white;border: 1px solid rgb(177,141,100);margin-top: .2vw;padding: 0 1vw;color: rgb(85,85,85);">
                            <p style="padding: 1.8vw 0;">
                                <span style="color: rgb(170,144,100)">观众提问 ：</span>
                                {$vo.question}
                            </p>
                            <hr style="border-top:1px solid rgb(177,141,100);" />
                            <p style="padding: 3vw 0">
                                <span style="color: rgb(170,144,100)">管理员回复 ：</span>
                                {$vo.answer}
                            </p>
                        </div>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
{/block}
{block name="babel"}
<script type="text/babel">
    ReactDOM.render(
        <Nav />,
        document.getElementById('nav')
    );
</script>
{/block}